.navbar {
  padding: 0 40px;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.navbar-left {
  cursor: pointer;
  font-size: 1.5em;
}
.navbar-right {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-profile {
  color: white;
  margin-right: 16px;
}
/* .navbar-profile:hover {
  filter:brightness(80%);
} */
.navbar-signout {
  color: white;
  background-color: orange;
  height: 100%;
 
}
.navbar-signout:hover {
  filter: brightness(80%);
}
