.piece, .dot {
  position: absolute;
  /* background-color: rgba(0,0,0,0.5); */
  background-position: center;
  background-size: contain;
  width: 46px;
  height: 46px;
  left: 39px;
  top: 3px;
}
.piece.r:hover {
  scale: 1.15;
  box-shadow: 0px 0px 16px 2px rgb(255,0,0,0.5);
  border-radius: 50%;
}
.piece.b:hover {
  scale: 1.15;
  box-shadow: 0px 0px 16px 2px rgb(0,0,0,0.5);
  border-radius: 50%;
}
.p-visible {
  scale: 1.15;
  box-shadow: 0px 0px 16px 2px rgb(255,0,0,0.5);
  border-radius: 50%;
}
.dot:hover {
  background-color: rgba(23, 60, 130, 0.5);
  border-radius: 50%;
}

/* image of pieces */
.p-br {
  background-image: url("/chess-pieces/blackRook.png");
}
.p-bh {
  background-image: url("/chess-pieces/blackHorse.png");
}
.p-be {
  background-image: url("/chess-pieces/blackElephant.png");
}
.p-bg {
  background-image: url("/chess-pieces/blackGuard.png");
}
.p-bk {
  background-image: url("/chess-pieces/blackKing.png");
}
.p-bc {
  background-image: url("/chess-pieces/blackCannon.png");
}
.p-bp {
  background-image: url("/chess-pieces/blackPawn.png");
}
.p-rr {
  background-image: url("/chess-pieces/redRook.png");
}
.p-rh {
  background-image: url("/chess-pieces/redHorse.png");
}
.p-re {
  background-image: url("/chess-pieces/redElephant.png");
}
.p-rg {
  background-image: url("/chess-pieces/redGuard.png");
}
.p-rk {
  background-image: url("/chess-pieces/redKing.png");
}
.p-rc {
  background-image: url("/chess-pieces/redCannon.png");
}
.p-rp {
  background-image: url("/chess-pieces/redPawn.png");
}

