#GameRoom {
  display: flex;
  flex-wrap: wrap;
}

#leftPanel {
  /* flex: 1; */
  padding: 10px;
  /* background-color: rgb(255, 246, 228) */
}

#rightPanel {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}