#Register {
  padding-top: 60px;

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-error {
  font-size: 20px;
  color: red;
  margin-top: 10px;
}

.register-form {
  /* width: 100%; */
  display: flex; 
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid black;
  width: 400px;
  padding: 20px;
}
.register-form > label {
  margin-top: 15px;
  margin-bottom: 5px;
}
.register-form > input {
  display: block;
  padding: 10px;
  width: 250px;
  max-width: 100%;
}
.register-btn {
  margin-top: 10px;
  padding: 4px 8px;
  /* margin-bottom: 15px; */
}